form{
	width:200px;
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	background-color:#;
    background-image: url("bglogin.jpg");
	padding-top:5px;
	padding-bottom:25px;
	padding-left:15px;
	padding-right:15px;
	border-radius:3px;
	box-shadow:4px 4px 10px rgba(0,0,0,0.5);
	align-content:center;
}

input, textarea {
	margin:5px;
	border-radius:3px;
}

input[type=button], input[type=submit]{
	background-color:#c4feb1;
	border:0px;
}

input:hover {
	background-color: #c4feb1;
	box-shadow:0px 6px 20px rgba(0,0,0,0.19);
}


/* hieronder gehele body */

html {
    height: 100%;
	overflow: hidden;
}

body {
	height:	100%;
	overflow: auto;
}

.bg { 
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
	font-family:'Trebuchet MS', Helvetica, sans-serif;
}

.text{
	font-size: 11px;
}

.logo{
	height: 135px;
	width:	90%;
	text-align:	center;
	margin:	auto;
}

a{
	text-decoration: none;
}

input{
	font-family:Trebuchet MS;
	font-size:0.8em;
	font-variant: small-caps;
}

textarea{
	font-family:Trebuchet MS;
	font-size:0.7em;
}

td, th{
	border: 1px solid black;
}

